<footer class="footer">
    <div class="container">
        <div >
            <img src="media/images/sticker1.png" alt="" class="connection_logo">
        </div>
        <div class="copyright">
            <p>&copy; 2025 Jamtem World. All rights reserved.</p>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/jamtem.world/?hl=en" target="_blank"><img src="media/images/instagram-white-icon.webp" alt=""></a>
            <a href=""><img src="media/images/tiktok-white-icon.webp" alt=""></a>
        </div>
    </div>
</footer>
